<div class="form-group col-md-4">
  <div style="font-family:'Roboto';font-size:20px"> <%= f.label :images %> </div>
  <div class="form-control"> <%= f.file_field :images,multiple:true %></div>
</div>

