<div class="posts edit">
  <div class="col-md-4"> <h1> Edit Post</h1> </div>
  </br>
  <%= form_for(@post,:url => post_path(@post),:method => 'patch') do |f| %>
    <%= render(:partial => 'posts/shared/form',:locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Post",{:class => 'btn btn-secondary'}) %>
    </div>
  <% end %>
</div>