</br>
<!-- 30 posts 30 / 4 = 7 30 % 4 = 2 -->
<% 0..4.times do %>
  <div class="row" style="grid-row-gap: 50px">
    <% 0..4.times do %>
      <div class="col-sm-3">
        <div class="card card-image" style="background-image: url(/assets/123.jpg);background-size:cover" >
          <p class="card-title text-center amy-crisp-gradient" style="font-size: 40px"> Card title</p>
          <img src="/assets/daisy-160.png" class="card-img-top"  style="visibility: hidden " alt="...">
          <div class="card-body lady-lips-gradient"  >
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </br>
<% end %>
</br>
</br>



